     <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href='{{ server_base }}'>
            <img class="img-fluid" 
                src="{{ server_base }}/images/icon/squared-menu-96.png"
                alt='HOME'
                title='HOME'
            >
            </a>
            {# <button 
                class="navbar-toggler m-2" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#sm-body-home-navbar-collapse" 
                aria-controls="sm-body-home-navbar-collapse" 
                aria-expanded="false" 
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <i class='label'>MENU</i>
            </button>
            
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" 
                            data-bs-toggle="dropdown"  
                            role="button" 
                            aria-expanded="false">
                            <img class='img-fluid sm-navbar-dropdown-img' 
                                src="{{ server_base }}/images/icon/Database.png">
                            DATABASE</a>
                        <ul class="dropdown-menu bg-iceblue">
                            {% for database in databases %}
                                <li id='sm-body-home-navbar-dropdown-item-{{ database.id }}' 
                                    class="dropdown-item d-flex gap-2 align-items-center">
                                    <a id='sm-body-home-navbar-dropdown-item-link-{{ database.id }}' 
                                        class="nav-link" 
                                        href="{{ server_base }}{{ database.url }}" 
                                        target='_blank'>
                                    <img id='sm-body-home-navbar-dropdown-item-img-{{ database.id }}' 
                                        class='img-fluid'
                                        src="{{ server_base }}/images/icon/{{ database.icon }}">
                                    {{ database.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% for subdomain in subdomains %}
                        <li id="sm-body-home-navbar-subdomain-item-{{ subdomain.id }}" class="nav-item">
                            <a id="sm-body-home-navbar-subdomain-link-{{ subdomain.id }}" 
                                class="nav-link" 
                                href="{{ subdomain.url }}" 
                                target='_blank'>
                            <img id='sm-body-home-navbar-subdomain-img-{{ subdomain.id }}' 
                                class='img-fluid' 
                                src="{{ server_base }}/images/icon/{{ subdomain.icon }}">
                            {{ subdomain.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div> #}
        </div>
    </nav>
