<nav style="--bs-breadcrumb-divider: '>>>';"  aria-label="breadcrumb">
    <div class="container-fluid">
        <ul class="breadcrumb" style="align-items: center;">
            <li class="breadcrumb-item"><a href='{{ path('homepage') }}'><img src="{{ server_base }}/images/icon/squared-menu-96.png"></img></a></li>
            <li class="breadcrumb-item"><a href='{{ path('database_homepage') }}'><img src="{{ server_base }}/images/icon/Database.png" width="64px" height="64px"></img></a></li>
            <li class="breadcrumb-item"><a href='{{ path('lego_homepage') }}'><img src="{{ server_base }}/images/icon/Lego.png" width="64px" height="64px"></img></a></li>
            <li class="breadcrumb-item active" aria-current="page"><img src="{{ server_base }}/images/icon/add-row-144.png" width="64px" height="64px"></img></li>
        </ul>
    </div>
</nav>

<div class='row  justify-content-between'>
    <div id='sm-body-lego-add-form-col-1' class="col-3 d-none d-lg-block"></div>
    <div id='sm-body-lego-add-form-col-2' 
        class="col m-5 border border-warning border-5 rounded-4 bg-iceblue">
        <div class="container text-white mt-3">
            {{ form_start(lego_form,  {'attr': {'novalidate': 'novalidate'}}) }}

            <p class='text-center'><b>ITEM</b></p>
            {# --------------- #}
            {# required fields #}
            {# --------------- #}
            {{ form_label(lego_form.reference) }}
            {{ form_widget(lego_form.reference) }}
            <div class='invalid-feedback' id='lego_add_form_reference_feedback'></div>

            {{ form_label(lego_form.name) }}
            {{ form_widget(lego_form.name) }}
            <div class='invalid-feedback' id='lego_add_form_name_feedback'></div>
            {# {{ form_errors(lego_form.reference) }} #}
            {# {{ form_row(lego_form.reference) }} #}
            {# <i class="fv-bootstrap-icon-input-group glyphicon glyphicon-ok-sign" style="pointer-events: none; display:block;"></i> #}
            {# {{ form_label(lego_form.reference, null, {
                'label': lego_form.reference,
                'label_attr': {'class': 'required'}

            })}}
            {{ form_widget(lego_form.reference) }}  #}

            {{ form_end(lego_form) }}
        </div>
    </div>
    <div id='sm-body-lego-add-form-col-3' class="col-3 d-none d-lg-block"></div>

</div>

<script>
function legoFormCheckValidity(element) {

    var error = false;
    document.getElementById('lego_add_form_Add').disabled = false;

    var reference = document.forms['lego_add_form']['lego_add_form_reference'];
    var reference_feedback = document.getElementById("lego_add_form_reference_feedback");
    reference_feedback.innerHTML = "";

    var name = document.forms['lego_add_form']['lego_add_form_name'];
    var name_feedback = document.getElementById("lego_add_form_name_feedback");
    name_feedback.innerHTML = "";

    if (!reference.checkValidity()) {
        reference_feedback.innerHTML = "Please provide valid number";
        document.forms['lego_add_form']['lego_add_form_url'].value = "https://brickset.com/sets/";

        error = true;
    } else {
        if ((element.id).localeCompare(reference.id) == 0) {
            document.forms['lego_add_form']['lego_add_form_url'].value = "https://brickset.com/sets/" + element.value + "-1";
        }
    }
    if (!name.checkValidity()) {
        name_feedback.innerHTML = "Please provide valid name";
        error = true;
    }

    document.forms['lego_add_form'].classList.add('was-validated');

    if (error) {
        document.getElementById('lego_add_form_Add').disabled = true;
    }
}


// Example starter JavaScript for disabling form submissions if there are invalid fields
{# (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})() #}

</script>