<nav class="navbar">
  <div class="container-fluid justify-content-start">
    <a href='{{ server_base }}'>
    <img class="img-fluid" 
        src="{{ server_base }}/images/icon/squared-menu-96.png"
        alt='HOME'
        title='HOME'
    >
    </a>
    <a class="navbar-brand" href='{{ path('lego_add') }}'>
      <img class='sm-lego-brand' src="{{ server_base }}/images/icon/add-row-144.png" 
        alt='ADD ITEM' 
        title='ADD ITEM'>
      </img>
    </a>
    <a class="navbar-brand" href='#'>
      <img id='sm-lego-navbar-link-edit-img' class='sm-lego-brand' src="{{ server_base }}/images/icon/edit-row-144.png" 
        alt='EDIT ITEM' 
        title='EDIT ITEM'>
      </img>
    </a>
    <a class="navbar-brand" href='#'>
      <img id='sm-lego-navbar-link-delete-img' class='sm-lego-brand' src="{{ server_base }}/images/icon/delete-row-144.png" 
        alt='DELETE ITEM' 
        title='DELETE ITEM'>
      </img>
    </a>
  </div>
</nav>