<div class='row  justify-content-between'>
    <div class="col-3">
         <div class="dropdown">
                      <button class="btn " data-bs-toggle="dropdown" type="button">
                        <img class="rounded-circle" src="{{ server_base }}/images/icon/squared-menu-96.png">
                    </button>
                    <ul class="dropdown-menu p-2 dropdown-menu-end sm-lego-dropdown" >
                        <li><a class="dropdown-item" href="{{ server_base }}">
                            <img class="img-fluid" width='36' height='36' src="{{ server_base }}/images/icon/Home.png"
                              alt='HOME'
                              title='HOME'
                            ></a>
                        </li>
                          <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ server_base }}/DB">
                            <img class="img-fluid" width='36' height='36' src="{{ server_base }}/images/icon/Database.png"
                              alt='DATABASE'
                              title='DATABASE'
                            ></a>
                        </li>
                          <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ server_base }}/DB/GIFTS/HOME">
                            <img class="img-fluid" width='36' height='36' src="{{ server_base }}/images/icon/Gifts.png"
                              alt='GIFTS'
                              title='GIFTS'
                            ></a>
                        </li>
                    </ul>
        </div>
    </div>
    <div id='sm-body-lego-edit-form-col-2' 
        class="col m-5 border border-warning border-5 rounded-4 bg-iceblue">
        <div class="container text-white mt-3">

            {{ form_start(gifts_form,  {'attr': {'novalidate': 'novalidate'}}) }}

            <p class='text-center'><b>ITEM</b></p>

            {{ form_end(gifts_form) }}
        </div>
    </div>
    <div class="col-3 d-none d-lg-block"></div>

</div>

