<div class='container-fluid px-4'>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-6 g-4 mt-2">
        {% for database in databases %}
            {% if loop.index0 > 0 %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ server_base }}/images/background/{{ database.background }}" 
                            class="card-img mx-auto" alt="{{ database.name }}">
                        <div class="card-body"><br>
                            <h5 class="card-title text-truncate">{{ database.name }}</h5>
                            <a class="btn btn-primary" href="{{ server_base }}{{ database.url }}" 
                                target='_blank'>GO</a>                
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>