     <nav id='sm-body-db-navbar' class="navbar navbar-expand">
        <div id='sm-body-db-navbar-container' class="container-fluid">
            <a id='sm-body-db-navbar-navbar-brand-link' href='{{ server_base }}'>
            <img id='sm-body-db-navbar-navbar-brand' 
                class="navbar-brand img-fluid" 
                src="{{ server_base }}/images/icon/squared-menu-96.png"
                alt='HOME'
                title='HOME'
            >
            </a>
            <div id="sm-body-db-navbar-navbar-collapse" class="navbar-collapse">
                <ul id="sm-body-db-navbar-navbar-collapse-ul" class="navbar-nav">
                    <li id="sm-body-db-navbar-navbar-collapse-item" class="nav-item dropdown">
                        <a id="sm-body-db-navbar-nav-link" 
                            class="nav-link dropdown-toggle" 
                            data-bs-toggle="dropdown"  
                            role="button" 
                            aria-expanded="false">
                            <img id='sm-body-db-navbar-nav-link-img' 
                                class='img-fluid' 
                                src="{{ server_base }}/images/icon/Database.png">
                            DATABASE</a>
                        <ul id='sm-body-db-navbar-dropdown-menu' class="dropdown-menu bg-iceblue">
                            {% for database in databases %}
                                <li id='sm-body-db-navbar-dropdown-item-{{ database.id }}' 
                                    class="dropdown-item d-flex gap-2 align-items-center">
                                    <a id='sm-body-db-navbar-dropdown-item-link-{{ database.id }}' 
                                        class="nav-link" 
                                        href="{{ server_base }}{{ database.url }}" 
                                        target='_blank'>
                                    <img id='sm-body-db-navbar-dropdown-item-img-{{ database.id }}' 
                                        class='img-fluid'
                                        src="{{ server_base }}/images/icon/{{ database.icon }}">
                                    {{ database.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
