{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}
{% block icon %}{{ icon }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block background %}
<style> 
    :root {
        --sm-bg: url('{{ server_base }}/images/background/{{ background }}' );
    }
</style>
{% endblock %}

{% block header %}
    <div class='container-fluid'>
        <header class='row'>
            <div class='col align-self-center text-center'>
                <img src="{{ server_base }}/images/logo/Seestern.png" width='88' height='88' class='img-fluid'>
            </div>
            <div class='col align-self-center text-center text-white rounded-top'>
                <h1>{% block header_title %} {{ header_title }} {% endblock %}
                    <img src="{{ server_base }}/images/icon/Inventory.png" id='img-inventory' alt='INVENTORY' title='INVENTORY' width='96' height='96' class='img-fluid'>
                </h1>
                
            </div>
            <div class='col align-self-center text-center'>
                <img src="{{ server_base }}/images/logo/Seestern.png" width='88' height='88' class='img-fluid'>
            </div>
        </header>
    </div>
{% endblock %}

{% block news %} {{ news }} {% endblock %}

{% block navbar %}
    {% if show_navbar is defined and show_navbar == true%}
        {% include ( "#{db|lower}/navbar.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if show_table is defined and show_table == true %}
        {% include ( "#{db|lower}/table.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'ADD' %}
        {% include ( "#{db|lower}/add_form.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'DELETE' %}
        {% include ( "#{db|lower}/delete_form.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'UPDATE' %}
        {% include ( "#{db|lower}/update_form.html.twig" ) %}
    {% endif %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}!  {{ db }}✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/volume2/web/DEV_SMWEB/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/volume2/web/DEV_SMWEB/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div> #}
{% endblock %}

{% block footer %}

{% endblock %}
{% block java %}
    {% if inc_java is defined and inc_java == true %}
        {% include ( "#{db|lower}/js.table.html.twig" ) %}
    {% endif %}
{% endblock %}