{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block icon %}{{ icon }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    <div class='container-fluid sm-body-header-container' >
        <header class='row'>
            <div class='col m-2'>
                <img class='img-fluid sm-body-header-logo'
                    src="{{ server_base }}/images/logo/Seestern.png">
            </div>
            <div class='col align-self-center text-center'>
                {% if header_title is defined and header_title != '' %}
                    <h1>{% block header_title %} {{ header_title }} {% endblock %}</h1>
                {% endif %}
                {% if header_image is defined and header_image != '' %}
                        <img class='img-fluid'
                            src="{{ server_base }}/images/icon/header/{{ header_image }}.png" 
                            alt={{ header_image }} 
                            title={{ header_image }} 
                            >
                {% endif %}
            </div>
            <div class='col m-2 sm-body-header-flag'>
                <img class='img-fluid sm-body-header-flag-img'
                    src="{{ server_base }}/images/flag/united_kingdom_flag_128.png">
            </div>
        </header>
    </div>
{% endblock %}

{% block news %} {{ news }} {% endblock %}

{% block navbar %}
    {% if show_navbar is defined and show_navbar == true %}
        {% include ( "#{db|lower}/navbar.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if show_table is defined and show_table == true %}
        {% include ( "#{db|lower}/table.html.twig" ) %}
    {% endif %}
    {% if show_gallery is defined and show_gallery == true %}
        {% include ( "#{db|lower}/gallery.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'ADD' %}
        {% include ( "#{db|lower}/add_form.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'DELETE' %}
        {% include ( "#{db|lower}/delete_form.html.twig" ) %}
    {% endif %}
    {% if show_form is defined and show_form == 'EDIT' %}
        {% include ( "#{db|lower}/edit_form.html.twig" ) %}
    {% endif %}
{% endblock %}

{% block footer %} {% endblock %}

{% block java %}
    {% if inc_java is defined and inc_java == true %}
        {% include ( "#{db|lower}/js.table.html.twig" ) %}
    {% endif %}
{% endblock %}