
    <li><a class="dropdown-item" href="{{ server_base }}/{{ subdir}}">
        <img class="img-fluid" width='36' height='36' src="{{ server_base }}/images/icon/dropdown/{{ item }}.png"
          alt={{ item }}
          title={{ item }}
        ></a>
    </li>
